In [4]:
import sys
import pandas as pd
df = pd.read_csv('budget_data.csv')

In [51]:
df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [52]:
max_change = df['Profit/Losses'].diff().idxmax()
min_change = df['Profit/Losses'].diff().idxmin()

In [53]:
df['Profit/Losses'].diff()[min_change]

-2196167.0

In [54]:
print("Total Rows:", df['Date'].count())
print("Total:" , '$' + str(df['Profit/Losses'].sum()))
print("Average Change:", '$' + str( df['Profit/Losses'].diff().mean()))
print("Greatest Increase in Profits: ", str(df['Date'][max_change]) + ' (' + str(df['Profit/Losses'].diff()[max_change]) + ')')
print("Greatest Decrease in Profits: ", str(df['Date'][min_change]) + ' (' + str(df['Profit/Losses'].diff()[min_change]) + ')')

Total Rows: 86
Total: $38382578
Average Change: $-2315.1176470588234
Greatest Increase in Profits:  Feb-2012 (1926159.0)
Greatest Decrease in Profits:  Sep-2013 (-2196167.0)

In [ ]:
f = open("results.txt", 'w')
sys.stdout = f
print("Total Rows:", df['Date'].count())
print("Total:" , '$' + str(df['Profit/Losses'].sum()))
print("Average Change:", '$' + str( df['Profit/Losses'].diff().mean()))
print("Greatest Increase in Profits: ", str(df['Date'][max_change]) + ' (' + str(df['Profit/Losses'].diff()[max_change]) + ')')
print("Greatest Decrease in Profits: ", str(df['Date'][min_change]) + ' (' + str(df['Profit/Losses'].diff()[min_change]) + ')')
f.close()